# Zusammenhang zwischen dem jährlichen Transportvolumen eines Staates und seiner Nähe zu Mexiko
//Henriette Sand, 564285

##### Nullhypothese: 
Die Höhe des jährlichen Transportwertes einzelner US-Staaten hängt nicht von der Nähe zu Mexiko ab.

##### Alternativhypothese
Die Höhe des jährlichen Transportwertes einzelner US-Staaten hängt von der Nähe zu Mexiko ab.

##### H0: µdis  != µval
##### H1: µdis = µval

In [1]:
# Daten laden
df <- read.csv("trade_values_by_state_and_year_MX.csv", header=TRUE, row.names="state")

## 1. Arithmetische Mittel berechnen

In [2]:
# Werte für Test: Arithmetisches Mittel des jährlichen Transportwertes über den Beobachtungszeitraum 2013-2018
avg_value <- apply(df, 1, mean)
avg_value

          AL           AK           AS           AZ           AR           CA
  5721173588     42247143            0  15794461321   1471733659  69708363627
          CO           CT           DE           DC           FL           GA
  2697726584   3403186560    485017542     20850216   8555569204   9665826505
          HI           ID           IL           IN           IA           KS
    30358101    394118763  21506583335   9560820263   3729743947   2680062938
          KY           LA           ME           MD           MA           MI
  7861774336   9249075323    118621534   2754417471   5982006697  59313045430
          MN           MS           MO           MT           NE           NV
  4272729530   3443538751   5553435777    150312548   1679977745    985788365
          NH           NJ           NM           NY           NC           ND
   930974484   7125181455   2026142252   6464945829   8371627622    407568807
          OH           OK           OR           PA           RI           SC
 14391140646   1529256598   1112973592   8309656064   1715641801   5686694721
          SD           TN           TX           UT           VT           VA
   424286388  11712262480 190654600095   4074473801    191280696   2074547072
          WA           WV           WI           WY
  3487252103    423973928   5712187346     78888216

## 2. Nach Entfernung zur mexikanischen Grenze gruppieren

1: keine/geringe Entfernung zu Mexiko

2: mittlere Entfernung zu Mexiko

3: große Entfernung zu Mexiko

In [30]:
# manuell erhobene Gruppierung nach Staat in alphabetischer Reihenfolge
distance <- c(2, 3, 3, 1, 2, 1, 2, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 2, 2, 1, 3, 3, 3, 3, 3, 2, 2, 3, 2, 2, 3, 3, 1, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 1, 2, 3, 3, 3, 3, 3, 3)
avg_value <- cbind(avg_value, distance)

## 3. Nach Mittelwert des Transportwertes gruppieren

1: hoher jährlicher Transportwert in US-Dollar

2: mittlerer jährlicher Transportwertin US-Dollar

3: niedriger jährlicher Transportwert in US-Dollar

In [4]:
average <- avg_value[,1]

In [5]:
median(average)

[1] 3423362655

In [6]:
range(average)

[1]            0 190654600095

In [7]:
quantile(average)

          0%          25%          50%          75%         100%
           0    819485249   3423362655   7973744768 190654600095

In [8]:
sort(avg_value[,1])

          AS           DC           HI           AK           WY           ME
           0     20850216     30358101     42247143     78888216    118621534
          MT           VT           ID           ND           WV           SD
   150312548    191280696    394118763    407568807    423973928    424286388
          DE           NH           NV           OR           AR           OK
   485017542    930974484    985788365   1112973592   1471733659   1529256598
          NE           RI           NM           VA           KS           CO
  1679977745   1715641801   2026142252   2074547072   2680062938   2697726584
          MD           CT           MS           WA           IA           UT
  2754417471   3403186560   3443538751   3487252103   3729743947   4074473801
          MN           MO           SC           WI           AL           MA
  4272729530   5553435777   5686694721   5712187346   5721173588   5982006697
          NY           NJ           KY           PA           NC           FL
  6464945829   7125181455   7861774336   8309656064   8371627622   8555569204
          LA           IN           GA           TN           OH           AZ
  9249075323   9560820263   9665826505  11712262480  14391140646  15794461321
          IL           MI           CA           TX
 21506583335  59313045430  69708363627 190654600095

In [9]:
# Gruppierung nach Staat in alphabetischer Reihenfolge
value <- c(2, 3, 3, 1, 3, 1, 3, 3, 3, 3, 2, 2, 3, 3, 1, 2, 3, 3, 2, 2, 3, 3, 2, 1, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 2, 3, 3, 3, 2, 1, 3, 3, 3, 3, 3, 2, 3)
avg_value <- cbind(avg_value, value)
avg_value

   avg_value    distance value
AL   5721173588 2        2
AK     42247143 3        3
AS            0 3        3
AZ  15794461321 1        1
AR   1471733659 2        3
CA  69708363627 1        1
CO   2697726584 2        3
CT   3403186560 3        3
DE    485017542 3        3
DC     20850216 3        3
FL   8555569204 2        2
GA   9665826505 2        2
HI     30358101 3        3
ID    394118763 3        3
IL  21506583335 3        1
IN   9560820263 3        2
IA   3729743947 3        3
KS   2680062938 2        3
KY   7861774336 2        2
LA   9249075323 1        2
ME    118621534 3        3
MD   2754417471 3        3
MA   5982006697 3        2
MI  59313045430 3        1
MN   4272729530 3        3
MS   3443538751 2        3
MO   5553435777 2        3
MT    150312548 3        3
NE   1679977745 2        3
NV    985788365 2        3
NH    930974484 3        3
NJ   7125181455 3        2
NM   2026142252 1        3
NY   6464945829 3        2
NC   8371627622 3        2
ND    407568807 3        3
OH  14391140646 3        2
OK   1529256598 2        3
OR   1112973592 3        3
PA   8309656064 3        2
RI   1715641801 3        3
SC   5686694721 3        3
SD    424286388 3        3
TN  11712262480 2        2
TX 190654600095 1        1
UT   4074473801 2        3
VT    191280696 3        3
VA   2074547072 3        3
WA   3487252103 3        3
WV    423973928 3        3
WI   5712187346 3        2
WY     78888216 3        3

## Test 1: kleine Distanz zu Mexiko und hoher Transportwert

In [32]:
dis1 <- subset(avg_value, distance == 1)
val1 <- subset(avg_value, value == 1)
# Kontrolle: Vergleich der Größen der Stichproben
nrow(dis1)
nrow(val1)

[1] 5

[1] 5

In [25]:
# Kontrolle: arithmetische Mittel der Stichproben
mean(dis1[,1])
mean(val1[,1])

[1] 57486528523

[1] 71395410762

In [48]:
# |T| ermitteln
t.test(dis1[,1], val1[,1], var.equal = TRUE)

	Two Sample t-test

data:  dis1[, 1] and val1[, 1]
t = -0.2933, df = 8, p-value = 0.7768
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -123263075206   95445310730
sample estimates:
  mean of x   mean of y
57486528523 71395410762

In [43]:
# T* ermitteln
qt(p = 0.05/2, df = 8, lower.tail = FALSE)

[1] 2.306004

###### Ergebnis

|T| = -0.2933

T* = 2.30600413520417

|T| < T* Nullhypothese annehmen, Alternativhypothese verwerfen

## Test 2: mittlere Distanz zu Mexiko und mittlerer Transportwert

In [33]:
dis2 <- subset(avg_value, distance == 2)
val2 <- subset(avg_value, value == 2)
# Kontrolle: Vergleich der Größen der Stichprobe
nrow(dis2)
nrow(val2)

[1] 14

[1] 14

In [28]:
# Kontrolle: arithmetische Mittel der Stichproben
mean(dis2[,1])
mean(val2[,1])

[1] 4830900024

[1] 8477374811

In [40]:
# |T| ermitteln
t.test(dis2[,1], val2[,1], var.equal = TRUE)

	Two Sample t-test

data:  dis2[, 1] and val2[, 1]
t = -3.2433, df = 26, p-value = 0.003236
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -5957553632 -1335395943
sample estimates:
 mean of x  mean of y
4830900024 8477374811

In [41]:
# T* ermitteln
qt(p = 0.05/2, df = 26, lower.tail = FALSE)

[1] 2.055529

#### Ergebnis

|T| = -3.2433

T* = 2.05552943864287

|T| < T* Nullhypothese annehmen, Alternativhypothese verwerfen

## Test 3: große Distanz zu Mexiko und niedriger Transportwert

In [34]:
dis3 <- subset(avg_value, distance == 3)
val3 <- subset(avg_value, value == 3)
# Kontrolle: Vergleich der Größe der Stichproben
nrow(dis3)
nrow(val3)

[1] 33

[1] 33

In [29]:
# Kontrolle: arithmetische Mittel der Stichproben
mean(dis3[,1])
mean(val3[,1])

[1] 5414329692

[1] 1759933989

In [38]:
# |T| ermitteln
t.test(dis3[,1], val3[,1], var.equal = TRUE)

	Two Sample t-test

data:  dis3[, 1] and val3[, 1]
t = 1.9244, df = 64, p-value = 0.05875
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -139282537 7448073944
sample estimates:
 mean of x  mean of y
5414329692 1759933989

In [39]:
# T* ermitteln
qt(p = 0.05, df = 64, lower.tail = FALSE)

[1] 1.669013

###### Ergebnis

|T| = 1.9244

T* = 1.66901302502409

|T| > T* Nullhypothese verwerfen, Alternativhypothese annehmen